@import 'main.scss';

#container{
    width:100%;
    height:100%;
    @include flexBox;
    @include flex-direction(column);
    #flHeader{
        width:100%;
        height:37px;
        border-bottom:1px solid #EEEEEE;
        position: relative;
        line-height:37px;
        text-align: center;
        @include flexBox;
        @include flex-direction(row);
        color:#ccc;
        .left{
            width:40px;
            height:100%;
        }
        .rt{
            width:40px;
            height:100%;
            font-size:18px;
            font-weight:normal;
        }
        .box{
            flex: 1;
            width: 226px;
            height:24px;
            margin-top:5px;
            @include flexBox;
            @include flex-direction(row);
            line-height:24px;
            border-radius:5px;
            font-weight: normal;
            color:#9E9E9E;
            background: #eee;
            overflow: hidden;
            b{
                font-weight: normal;
                margin-left:5px;
                font-size:12px;
            }
            .find{
                background:#eee;
                color:#ccc;
                width: 100%;
                height:24px;
                display: block;
                border: none;
                outline: none;
                box-sizing: border-box;
                margin-left:8px;
                font-size:12px;
            }
        }
    }
    #flContent{
        flex:1;
        height:100%;
        @include flexBox;
        @include flex-direction(row);
        .left{
            width:22%;
            height:100%;
            overflow-y: auto;
            div{
                width:100%;
                height:38px;
                background:#F6F6F6;
                display:flex;
                flex-direction: column;
                justify-content: center;
                p{
                    height:15px;
                    line-height: 15px;
                    text-align: center;
                    font-size: 12px;
                }
                &:nth-of-type(1){
                        background: white;
                        p{
                            box-sizing: border-box;
                            height:15px;
                            line-height: 15px;
                            text-align: center;
                            border-left:4px solid #FF5577;
                            font-size: 12px;
                            color:#FF5577;
                        }
                }
            }
            
        }
        .left::-webkit-scrollbar {
                    width: 0px;
                    height: 1px;
                }
        .right{
            width:78%;
            height:100%;
            overflow-y: auto;
            .top{
                width:94%;
                padding: 10px 3%;
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #ccc;
                a{
                    display: block;
                    width: 75px;
                    height:81px;
                    margin:8px 0;
                    text-align: center;
                    color:#666;
                    img{
                        width:55px;
                        height:55px;
                    }
                    span{
                        font-size:13px;
                        display: block;
                    }
                }
            }
            .cent{
                width: 100%;
                height: 40px;
                @include flexBox;
                a{
                   text-decoration: none;
                   flex: 1;
                   height:40px;
                   line-height: 40px;
                   text-align: center;
                   font-size:12px;
                   color:#333;
                   span{
                       display: block;
                       width: 100%;
                       height:15px;
                       line-height: 15px;
                       margin-top:12px;
                   }
                }
            }
            .btm{
                margin-top: 1px solid #ccc;
                display: flex;
                flex-wrap: wrap;
                width:100%;
                a{
                    width:48%;
                    height: 187px;
                    margin-top:5px;
                    margin-left:1%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    color:#666;
                    position: relative;
                    font-size:13px;
                    img{
                        width: 114px;
                        height: 146px;
                        border: none;
                    }
                    .buy{
                        position: absolute;
                        left:3px;
                        top: 120px;
                        width:60px;
                        height:20px;
                        padding:0 10px;
                        line-height:20px;
                        text-align: center;
                        background:linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0));
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                        color: white;
                    }
                    .msg{
                        width:90%;
                        height:20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                        text-align: center;
                    }
                    div{
                        width:90%;
                        height:20px;
                        span{
                            display: inline-block;
                            height: 20px;
                            width:40px;
                            &:nth-of-type(1){
                                color:#f66;
                            }
                            &:nth-of-type(2){
                                float: right;
                            }
                        }
                    }
                }
            }
        }
        .right::-webkit-scrollbar {
                    width: 0px;
                    height: 1px;
            }
    }
}
