<div id="container">
	<div id="flHeader">
		<div class="iconfont left">&#xe670;</div>
		<div class="box">
			<b class="iconfont">&#xe67f;</b>
			<input type="text" placeholder="选择喜欢的商品" class="find"/>
		</div>
		<div class="rt iconfont">&#xe62e;</div>
	</div>
	<div id="flContent">
		<div class="left">
		</div>
		<div class="right">
			<div class="top">
			</div>
			<div class="cent">
				<!--<a href=""><span>综合</span></a>
				<a href=""><span>销量</span></a>
				<a href=""><span>新品</span></a>-->
			</div>
			<div class="btm">
				<!--<a href="">
					<img src="" alt="" />
					<p class="buy">买了30件</p>
					<p class="msg">你好</p>
					<div>
						<span>￥66</span>
						<span>334<b class="iconfont">&#xe684;</b></span>
					</div>
				</a>-->
			</div>
		</div>
	</div>
</div>