<div id="container">
	<div id="mineHeader">
		<div class="iconfont left">&#xe611;</div>
		<div class="box">
			登录
		</div>
		<div class="rt">
			忘记密码
		</div>
	</div>
	<div id="mineContent">
		<div class="minebox">
			<div class="zh">蘑菇街账号</div>
			<input type="text" placeholder="输入用户名/邮箱/手机" class="int1"/>
			<div class="zh">密码</div>
			<input type="text" placeholder="输入密码" class="int2"/>
			<div class="dl">登录</div>
			<p class="dlp">
				<a href="javascript:;">免密登录</a>
				<a href="javascript:;" class="zczh">注册账号</a>
			</p>
			<div class="qq"><a href="javascript:;"></a></div>
		</div>
		<div class="block"></div>
	</div>
</div>