<div id="container">
	<div id="searchHeader">
		<div class="iconfont left">&#xe611;</div>
		<div class="box">
			<!--<input type="text" placeholder="" class="find"/>-->
		</div>
		<div class="rt">搜索</div>
	</div>
	<div id="searchContent">
		<div class="history">
				<div class="stop">
					<b class="iconfont slt">&#xe67f;</b>
					<span>历史搜索</span>
					<b class="iconfont srt">&#xe67d;</b>
				</div>
				<div class="scont"></div>
		</div>
		<div class="hot">
			<div class="top">
				<b class="iconfont">&#xe684;</b>
				<span>热门搜索</span>
			</div>
			<div class="cont">
			</div>
		</div>
	</div>
</div>