<div id="container">
	<div id="shouyeHeader">
		<div class="iconfont left">&#xe670;</div>
		<div class="box">
			<b class="iconfont">&#xe67f;</b>
			<div class="find"></div>
		</div>
		<div class="iconfont rt">&#xe62e;</div>
	</div>
		
	<div id="shouyeContent">
		<!--banner图-->
		<div class="swiper-container"id="banner">
		    <div class="swiper-wrapper"id="banner-swiper">
		    </div>
		    <!-- 如果需要分页器 -->
		    <div class="swiper-pagination"></div>
		</div>
		<!--品牌特卖-->
		<div class="berbm">
			<div class="berbox">
			</div>
		</div>
		<!--抢购-->	
		<div class="qg">
			<div class="top">
				<div class="lt">
				</div>
			</div>
			<div class="btm">
				<div class="swiper-container btm-container">
			        <div class="swiper-wrapper btm-wrapper" id="btm-wrapper">
			        </div>
			    </div>
			</div>
		</div>
		<!--促销直达-->
		<div class="zd">
			<div class="tp">
				超实惠-促销直达
			</div>
		</div>
		
		<!--热门市场-->
		<div class="hot-market">
			<div class="hmtp">
			<span>—— </span>热门市场 <span> ——</span>
			</div>
			<div class="hmbm">
			</div>
		</div>
		
		<!--猜你喜欢-->
		<div class="cx">
			<div class="cxh">
				<span>—— </span>猜你喜欢<span> ——</span>
			</div>
			<div class="cxctn">
			</div>
		</div>
	</div>
	
</div>